<h1>Mechanic Info</h1>
<p>Name: <%= @mechanic.name %></p>
<p>Years of Experience: <%= @mechanic.years_experience %></p>
<section id="mechanic_rides">
  <h3>Rides Worked On</h3>
  <% @mechanic.rides.each do |ride| %>
    <section id= "ride-<%= ride.id %>">
      <p><%= ride.name %></p>
    </section>
  <% end %>
</section>