<h1> Mechanic Show Page </h1>

<p>Name: <%= @mechanic.name %></p>
<p>years_experience: <%= @mechanic.years_experience %></p>

<h2> Rides: </h2>
<ul>
  <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>