<h1>Amusement Park Info</h1>

<p>Name: <%= @amusement_park.name %></p>
<p>Cost: <%= @amusement_park.admission_cost %></p>

<h2>Assigned Mechanics</h2>
binding.pry

# I need that AR query to grab the unique mechanic names